.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f5f7;
}

.login-card {
  width: 400px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  background: #fff;
}

.login-header {
  text-align: center;

  .login-logo {
      display: block;
      margin: 0 auto 1rem auto;
      width: 200px;
      margin-bottom: 1rem;
  }

  h2 {
    margin: 0;
    color: var(--p-primary-color);
  }

  p {
    color: #666;
    font-size: 0.9rem;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-weight: 600;
  color: #444;
  font-size: 0.9rem;
}

p-inputgroup {
  width: 100%;

  .p-inputgroup-addon {
    background: #e9ecef;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
  }

  i {
    font-size: 1.2rem;
    color: var(--p-primary-color);
  }

  input, p-password input {
    height: 45px;
    border-radius: 0 0.6rem 0.6rem 0;
    width: 100%;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  button {
    width: 100%;
    height: 45px;
    font-size: 1rem;
  }
}

.login-footer {
  text-align: center;
  margin-top: 1rem;

  p {
    margin: 0;
  }

  a {
    color: var(--p-primary-color);
    font-weight: 600;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
