.productos-container {
  padding: 2rem;
  background: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  min-height: 70vh;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  h2 {
    font-weight: 600;
    color: #333;
  }

  ::ng-deep .p-table {
    border-radius: 12px;
    overflow: hidden;
  }

  ::ng-deep .p-sidebar {
    background: #fff;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 2rem;
  }
  .p-dialog {
    border-radius: 1rem;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  }

  .field label {
    font-weight: 600;
    color: #333;
    margin-bottom: 0.3rem;
    display: block;
  }

  .p-inputtext,
  select,
  textarea {
    border-radius: 8px;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #dcdcdc;
    transition: all 0.2s ease-in-out;
  }

  .p-inputtext:focus,
  select:focus,
  textarea:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b82f6;
  }

  .p-button {
    font-weight: 600;
  }
  
}   

