:host ::ng-deep {
   display: block;
  background: #ffffff;
  border-radius: 12px;
  padding: 2rem;
  min-height: 75vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  
  .p-dialog .p-button {
    border-radius: 8px;
  }

  .p-card {
    background: var(--surface-card);
    border-radius: 1rem;
  }

  .p-inputtext {
    border-radius: 8px;
  }
}
