@use '../abstracts/variables' as *;
@use 'sass:color';

@mixin base-button {
    border: none;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: $btn-border-radius;
    background-color: $background-color;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    display: inline-block;
  }

@mixin btn-styles {
    @include base-button;
    background-color: $base-color;
    color: $primary-color;
    border: 1.5px solid $primary-color;
    box-shadow: $btn-box-shadow;
    
    &:hover {
      background-color: $btn-hover-bg;
      color: $base-color;
      transform: translateY(-2px);
    }
  }